* {
	font-family: helvetica, sans-serif;
}

p {
	font-size: 14px;
}

#btn-success {
	background-color: #5cb85f;
	border-radius: 2px;
	border: none;
	padding: 8px 12px;
}

.navbar {
	background-color: #f1f3ff;
}

.navbar .navbar-content {
	width: 1168px;
}

.hero {
	background-color: #f1f3ff;
	height: 504px;
}

.hero .content {
	width: 1440px;
}

body {
	height: 3226px;
}

.navbar-brand {
	width: 100px;
	height: 34px;
	background-color: #0d28a6;
}

.car {
	width: 704px;
	height: 407px;
	right: 0px;
	top: 97px;
}

.car img {
	width: 100%;
}

.desc {
	width: 568px;
	top: 177px;
	left: 136px;
}

.slogan {
	font-size: 36px;
}

.welcome {
	width: 486px;
}

.bg-car {
	width: 704px;
	height: 243px;
	right: 0px;
	top: 261px;
	background: #0d28a6;
	border-radius: 60px 0px 0px 0px;
}

.img-service {
	width: 459px;
	height: 428px;
}

.circle-gr {
	background-color: #92d094;
	width: 133px;
	height: 133px;
}

.circle-red {
	background-color: #fa2c5a;
	width: 25px;
	height: 25px;
	top: 43px;
	right: 65px;
}

.circle-yl {
	background-color: #f9cc00;
	width: 48px;
	height: 48px;
	bottom: 44px;
	left: 60px;
}

.girl-photo {
	width: 360px;
	height: 360px;
	background-color: #0d28a6;
	top: 68px;
	right: 0;
}

.girl-photo img {
	width: 360px;
}

.girl-top {
	top: -69px;
}

#service .container {
	width: 1027px;
	height: 428px;
	margin-top: 104px;
}

.desc-service {
	height: 356px;
	width: 468px;
}

.checklist {
	width: 24px;
	height: 24px;
	background-color: #cfd4ed;
}

.container {
	margin-top: 100px;
	width: 1168px;
}

.heading {
	margin-bottom: 40px;
}

.card {
	width: 268px;
	height: 196px;
}

.card img {
	width: 32px;
	margin: 24px 0 0 24px;
}

.carousel-item .content {
	background-color: #f1f3ff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	width: 619px;
	height: 270px;
	padding: 0px 32px 0px 46px;
	margin: 0 auto;
}

.img-testi {
	width: 80px;
	height: 80px;
	margin-right: 46px;
}

.carousel-ctrl-prev,
.carousel-ctrl-next {
	width: 32px;
	height: 32px;
	background-color: #fff;
	border: 1px solid #c4c4c4;
}

.carousel-ctrl-prev:hover,
.carousel-ctrl-next:hover {
	background-color: #5cb85f;
	color: #fff;
}

#getting-started .container {
	/* height: 326px; */
	background-color: #0d28a6;
	border-radius: 13px;
	padding: 64px;
}

#getting-started .container .desc {
	margin-bottom: 52px;
}
